# CSPB 3287 Final Project - Restaurant Ingredient, Menu, and Order Management Database

Name: Collin Coakley

Identikey: coakleyc

Email: coakleyc@colorado.edu
<hr>

## Introduction

My project was originally conceived to handle all aspects of restaurant management, from food supplies to seating arrangements. I wanted to do this project because I wanted to create a comprehensive database that would be accessible to restaurateurs to track metrics for revenue, profit, supplies, and to track trends in their restaurant, such as peak hours and popular menu items. I planned (and still do, although to a lesser extent) to use this on my GitHub to show that I have sufficient understanding of database management and implementation to work in the professional world.

However, I was given feedback from my peer reviews and Professor Knox that I should implemented only a subset of the concepts mentioned above to fit the scope of this project. As such, this project is to simulate the relationships between available ingredients at a restaurant, menu items, and orders processed by the restaurant to show that I can sufficiently relate and query these tables to gather meaningful, actionable information.

In [1]:
# import relevant modules for this project
import random
import mysql.connector

### Connecting to DB

In [2]:
database_name = 'CSPB3287Project'


password =

### Create Tables

## 10 pts: Was a video included in the project submission?

- See Video in Github

## 5 pts: Does the project contain at least 3 tables?

There are 3 tables for this project:

- <b>Ingredient</b>: This tracks the available stock of ingredients currently in the restaurant, as well as the price. For purposes of this project, the restaurant will have an initial amount of each ingredient, and we can simulate utilization and replenishment of said ingredient. In order to simulate large data, there will be 50 ingredients, and each ingredient will have an inventory of 0 to approximately 1,000 (not restricted, just for purposes of this project) of each ingredient so we can generate many orders in the Orders table.

- <b>Menu</b>: This will be a table that contains a Menu Item Name, 5 Ingredients for that item (duplicates are ok), and an optional 6th ingredient, for which we will charge 1.25 times the normal price for the customization. This will allow us to show some aggregation and use of math functions.

- <b>OrderProcessed</b>: This will contain numbered orders the restaurant has accepted.

For purposes of this project, I styled this restaurant to be an Asian-Mexican fusion restaurant, so the ingredients reflect that:

### Import Relevant Python Modules:

In [3]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)

    cursor = mydb.cursor()

    cursor.execute(f"DROP DATABASE IF EXISTS {database_name}")

    print("Database deleted.")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        mydb.close()

Database deleted.

In [4]:
try:

    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()
    cursor.execute("SHOW DATABASES")
    if database_name.lower() not in [db[0].lower() for db in cursor.fetchall()]:
        cursor.execute(f"CREATE DATABASE {database_name}")

    cursor.execute(f"USE {database_name}")

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Ingredient (
    Name VARCHAR(45) PRIMARY KEY,
    Price INT NOT NULL,
    Quantity INT
        )''')

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Menu (
    Name VARCHAR(45) PRIMARY KEY,
    Ingredient1 VARCHAR(45),
    Ingredient2 VARCHAR(45),
    Ingredient3 VARCHAR(45),
    Ingredient4 VARCHAR(45),
    Ingredient5 VARCHAR(45),
    FOREIGN KEY (Ingredient1) REFERENCES Ingredient(Name) ON DELETE CASCADE,
    FOREIGN KEY (Ingredient2) REFERENCES Ingredient(Name) ON DELETE CASCADE,
    FOREIGN KEY (Ingredient3) REFERENCES Ingredient(Name) ON DELETE CASCADE,
    FOREIGN KEY (Ingredient4) REFERENCES Ingredient(Name) ON DELETE CASCADE,
    FOREIGN KEY (Ingredient5) REFERENCES Ingredient(Name) ON DELETE CASCADE
        )''')    

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Orders (
    MenuItem VARCHAR(45),
    AdditionalIngredient VARCHAR(45),
    FOREIGN KEY (MenuItem) REFERENCES Menu(Name) ON DELETE CASCADE,
    FOREIGN KEY (AdditionalIngredient) REFERENCES Ingredient(Name)  ON DELETE CASCADE  
        )''')    
    
    mydb.commit()
    mydb.close()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

## 5 pts: Did the writeup/video show SQL statements (and any accompanying code) for all table creation?

In [5]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()
    cursor.execute(f"USE {database_name}")

    cursor.execute("SHOW TABLES")
    for table in cursor.fetchall():
        print(table[0])

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

ingredient
menu
orders

## 5 pts: Are there relationships between table items (foreign keys)?

Yes, there are foreign keys from Ingredients to Menu and Order. There is also a foreign key from the Menu to Orders. Those are part of the original table create statements.

## 5 pts:Â Did the writeup/video show SQL statements for the insertion of data?

Table insertion below:

### Ingredients Table Inserts/Prints

In [6]:
# Randomizing ingredient price
import random

ingredients = [
    "Tortillas",
    "Rice",
    "Beans",
    "Chicken",
    "Beef",
    "Shrimp",
    "Tofu",
    "Avocado",
    "Salsa",
    "Sour Cream",
    "Cilantro",
    "Lettuce",
    "Tomatoes",
    "Onions",
    "Bell Peppers",
    "Jalapenos",
    "Soy Sauce",
    "Ginger",
    "Garlic",
    "Sesame Oil",
    "Noodles",
    "Eggplant",
    "Bok Choy",
    "Mushrooms",
    "Cabbage",
    "Thai Basil",
    "Fish Sauce",
    "Coconut Milk",
    "Peanut Butter",
    "Lime",
    "Cumin",
    "Coriander",
    "Chili Powder",
    "Cayenne Pepper",
    "Sriracha",
    "Wasabi",
    "Ramen",
    "Sesame Seeds",
    "Pineapple",
    "Mango",
    "Cilantro",
    "Lemongrass",
    "Tamarind",
    "Chilies",
    "Sambal Oelek",
    "Kimchi",
    "Scallions",
    "Szechuan Peppercorns",
    "Hoisin Sauce",
    "Soybean Paste"
]

ingredient_dict = {ingredient: (random.randint(3, 17), random.randint(10, 1000)) for ingredient in ingredients}

print(ingredient_dict)

{'Tortillas': (7, 722), 'Rice': (14, 956), 'Beans': (16, 37), 'Chicken': (7, 248), 'Beef': (14, 116), 'Shrimp': (6, 295), 'Tofu': (10, 963), 'Avocado': (7, 519), 'Salsa': (7, 120), 'Sour Cream': (10, 676), 'Cilantro': (3, 70), 'Lettuce': (16, 39), 'Tomatoes': (17, 769), 'Onions': (10, 758), 'Bell Peppers': (8, 218), 'Jalapenos': (7, 247), 'Soy Sauce': (9, 250), 'Ginger': (4, 666), 'Garlic': (8, 721), 'Sesame Oil': (5, 95), 'Noodles': (8, 91), 'Eggplant': (3, 960), 'Bok Choy': (4, 674), 'Mushrooms': (15, 80), 'Cabbage': (15, 296), 'Thai Basil': (15, 57), 'Fish Sauce': (11, 513), 'Coconut Milk': (17, 814), 'Peanut Butter': (5, 615), 'Lime': (16, 149), 'Cumin': (5, 865), 'Coriander': (5, 899), 'Chili Powder': (9, 950), 'Cayenne Pepper': (5, 810), 'Sriracha': (4, 405), 'Wasabi': (17, 272), 'Ramen': (12, 733), 'Sesame Seeds': (10, 946), 'Pineapple': (14, 434), 'Mango': (9, 313), 'Lemongrass': (7, 839), 'Tamarind': (7, 674), 'Chilies': (10, 211), 'Sambal Oelek': (8, 800), 'Kimchi': (4, 850), 'Scallions': (11, 262), 'Szechuan Peppercorns': (11, 203), 'Hoisin Sauce': (6, 667), 'Soybean Paste': (15, 494)}

In [7]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")    

    insertion_query = '''
        INSERT INTO Ingredient (Name, Price, Quantity) VALUES (%s, %s, %s)
    '''

    for key, value in ingredient_dict.items():
        name = key
        price = value[0]
        quantity = value[1]
        cursor.execute(insertion_query, (name, price, quantity))

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

In [8]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()
    cursor.execute(f"USE {database_name}")
    
    cursor.execute("SELECT * FROM Ingredient LIMIT 5")
    results = cursor.fetchall()
    for row in results:
        print(row)

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

('Avocado', 7, 519)
('Beans', 16, 37)
('Beef', 14, 116)
('Bell Peppers', 8, 218)
('Bok Choy', 4, 674)

### Menu Table Inserts/Prints

In [9]:
# Create random menu items
import random

tex_mex_foods = [
    "Tacos", "Burritos", "Enchiladas", "Quesadillas", "Guacamole",
    "Nachos", "Fajitas", "Chimichangas", "Taquitos", "Salsa",
    "Chili con Carne", "Refried Beans", "Tamales", "Chile Rellenos",
    "Carnitas", "Barbacoa", "Menudo", "Pozole", "Chiles en Nogada",
    "Flautas", "Sopes", "Gorditas", "Pico de Gallo", "Carne Asada",
    "Ceviche", "Horchata", "Empanadas", "Churros", "Elote", "Chilaquiles"
]

ingredients = [
    "Tortillas", "Rice", "Beans", "Chicken", "Beef", "Shrimp", "Tofu",
    "Avocado", "Salsa", "Sour Cream", "Cilantro", "Lettuce", "Tomatoes",
    "Onions", "Bell Peppers", "Jalapenos", "Soy Sauce", "Ginger", "Garlic",
    "Sesame Oil", "Noodles", "Eggplant", "Bok Choy", "Mushrooms", "Cabbage",
    "Thai Basil", "Fish Sauce", "Coconut Milk", "Peanut Butter", "Lime",
    "Cumin", "Coriander", "Chili Powder", "Cayenne Pepper", "Sriracha",
    "Wasabi", "Ramen", "Sesame Seeds", "Pineapple", "Mango", "Cilantro",
    "Lemongrass", "Tamarind", "Chilies", "Sambal Oelek", "Kimchi", "Scallions",
    "Szechuan Peppercorns", "Hoisin Sauce", "Soybean Paste"
    ]

tex_mex_food_ingredients = {}


for food in tex_mex_foods:
    random_ingredients = random.sample(ingredients, 5)
    tex_mex_food_ingredients[food] = random_ingredients

In [10]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")    

    insertion_query = '''
        INSERT INTO Menu (Name, Ingredient1, Ingredient2, Ingredient3, Ingredient4, Ingredient5) VALUES (%s, %s, %s, %s, %s, %s)
    '''

    for key, value in tex_mex_food_ingredients.items():
        name = key
        ingredient1 = value[0]
        ingredient2 = value[1]
        ingredient3 = value[2]
        ingredient4 = value[3]
        ingredient5 = value[4]

        cursor.execute(insertion_query, (name, ingredient1, ingredient2, ingredient3, ingredient4, ingredient5))

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

In [11]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()
    cursor.execute(f"USE {database_name}")
    
    cursor.execute("SELECT * FROM Menu LIMIT 5")
    results = cursor.fetchall()
    for row in results:
        print(row)

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

('Barbacoa', 'Tofu', 'Lime', 'Ramen', 'Bell Peppers', 'Sesame Seeds')
('Burritos', 'Szechuan Peppercorns', 'Rice', 'Salsa', 'Tortillas', 'Cabbage')
('Carne Asada', 'Sambal Oelek', 'Chili Powder', 'Shrimp', 'Cayenne Pepper', 'Wasabi')
('Carnitas', 'Sour Cream', 'Chilies', 'Bok Choy', 'Wasabi', 'Cabbage')
('Ceviche', 'Chili Powder', 'Avocado', 'Cumin', 'Bell Peppers', 'Szechuan Peppercorns')

### Orders Table Insertion/Print

In [12]:
import numpy as np
random_menu_item = list(np.random.choice(tex_mex_foods, size=200, replace=True))
random_ingredient = list(np.random.choice(ingredients, size=200, replace=True))

In [13]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")    

    insertion_query = '''
        INSERT INTO Orders (MenuItem, AdditionalIngredient) VALUES (%s, %s)
    '''

    for i in range(200):
        menuitem = str(random_menu_item[i])
        additional_ingredient = str(random_ingredient[i])
        cursor.execute(insertion_query, (menuitem, additional_ingredient))

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

In [14]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()
    cursor.execute(f"USE {database_name}")
    
    cursor.execute("SELECT * FROM Orders LIMIT 5")
    results = cursor.fetchall()
    for row in results:
        print(row)

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

('Chili con Carne', 'Tomatoes')
('Chilaquiles', 'Pineapple')
('Flautas', 'Pineapple')
('Empanadas', 'Bok Choy')
('Chiles en Nogada', 'Coriander')

## 5 pts: Are there constraints on the table columns?

Yes, below are the triggers for before and after insert, which makes sure:

- There is sufficient ingredients to make the item
- An additional ingredient is not already one of the main 5 items
- After inserting an order, it decrements the quantity of the ingredient remaining

### Create Triggers

In [15]:
# Check if Triggers Exist
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)

    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    cursor.execute("SHOW TRIGGERS")
    
    triggers = cursor.fetchall()
    
    for trigger in triggers:
        print(trigger)
        print("---------------------------")
    
    cursor.close()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

In [16]:
# Working as intended

try:

    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)

    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    # Trigger after insert to check if the additional ingredient is in the menu item's ingredients
    cursor.execute('''
    CREATE TRIGGER CheckAdditionalIngredientBeforeInsert
    BEFORE INSERT ON Orders
    FOR EACH ROW
    BEGIN
        DECLARE menuIngredients VARCHAR(225);
        DECLARE errorMessage VARCHAR(255);
        
        -- Get the menu item's ingredients
        SELECT CONCAT_WS(',', Ingredient1, Ingredient2, Ingredient3, Ingredient4, Ingredient5)
        INTO menuIngredients
        FROM Menu
        WHERE Name = NEW.MenuItem;
        
        -- Check if the additional ingredient is in the menu item's ingredients
        IF FIND_IN_SET(NEW.AdditionalIngredient, menuIngredients) > 0 THEN
            
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'This ingredient is already in the menu item';
        END IF;
    END;
    ''')

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

In [17]:
# Working as intended
try:

    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)

    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")
    # Trigger that before insert on orders, check if there's enough of the ingredient to make the food.
        # Create the trigger
    trigger_query = """
    CREATE TRIGGER CheckIngredientAvailabilityBeforeInsert
    BEFORE INSERT ON Orders
    FOR EACH ROW
    BEGIN
        DECLARE requiredQuantity INT;
        
        -- Get the required quantity of the ingredient for the menu item
        SELECT Quantity
        INTO requiredQuantity
        FROM Ingredient
        WHERE Name = NEW.MenuItem;
        
        -- Check if the ingredient quantity is available
        IF requiredQuantity IS NULL OR requiredQuantity <= 0 THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Ingredient quantity is not available for the menu item.';
        END IF;
    END;
    """
    
    cursor.execute(trigger_query)
    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

In [18]:
# Confirm triggers exist

try:

    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)

    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")
    
    cursor.execute("SHOW TRIGGERS")

    triggers = cursor.fetchall()

    for trigger in triggers:
        print(trigger)
        print("---------------------------")

    cursor.close()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

('CheckAdditionalIngredientBeforeInsert', 'INSERT', 'orders', "BEGIN\n        DECLARE menuIngredients VARCHAR(225);\n        DECLARE errorMessage VARCHAR(255);\n        \n        -- Get the menu item's ingredients\n        SELECT CONCAT_WS(',', Ingredient1, Ingredient2, Ingredient3, Ingredient4, Ingredient5)\n        INTO menuIngredients\n        FROM Menu\n        WHERE Name = NEW.MenuItem;\n        \n        -- Check if the additional ingredient is in the menu item's ingredients\n        IF FIND_IN_SET(NEW.AdditionalIngredient, menuIngredients) > 0 THEN\n            \n            SIGNAL SQLSTATE '45000'\n            SET MESSAGE_TEXT = 'This ingredient is already in the menu item';\n        END IF;\n    END", 'BEFORE', datetime.datetime(2023, 12, 17, 3, 42, 24, 450000), {'NO_ENGINE_SUBSTITUTION', 'STRICT_TRANS_TABLES', 'NO_ZERO_IN_DATE', 'ERROR_FOR_DIVISION_BY_ZERO', 'ONLY_FULL_GROUP_BY', 'NO_ZERO_DATE'}, 'root@localhost', 'utf8mb4', 'utf8mb4_general_ci', 'utf8mb4_0900_ai_ci')
---------------------------
('CheckIngredientAvailabilityBeforeInsert', 'INSERT', 'orders', "BEGIN\n        DECLARE requiredQuantity INT;\n        \n        -- Get the required quantity of the ingredient for the menu item\n        SELECT Quantity\n        INTO requiredQuantity\n        FROM Ingredient\n        WHERE Name = NEW.MenuItem;\n        \n        -- Check if the ingredient quantity is available\n        IF requiredQuantity IS NULL OR requiredQuantity <= 0 THEN\n            SIGNAL SQLSTATE '45000'\n            SET MESSAGE_TEXT = 'Ingredient quantity is not available for the menu item.';\n        END IF;\n    END", 'BEFORE', datetime.datetime(2023, 12, 17, 3, 42, 24, 500000), {'NO_ENGINE_SUBSTITUTION', 'STRICT_TRANS_TABLES', 'NO_ZERO_IN_DATE', 'ERROR_FOR_DIVISION_BY_ZERO', 'ONLY_FULL_GROUP_BY', 'NO_ZERO_DATE'}, 'root@localhost', 'utf8mb4', 'utf8mb4_general_ci', 'utf8mb4_0900_ai_ci')
---------------------------

## 5 pts: Did the writeup/video show SQL statements for UPDATEs?

Initially:

In [19]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    cursor.execute("""
        SELECT * FROM MENU LIMIT 1
    """)
    results = cursor.fetchall()
    for row in results:
        print(row)

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:

    if mydb.is_connected():
        cursor.close()
        mydb.close()

('Barbacoa', 'Tofu', 'Lime', 'Ramen', 'Bell Peppers', 'Sesame Seeds')

In [20]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    cursor.execute("""
        UPDATE MENU
        SET Ingredient1 = 'Tamarind'
        WHERE NAME = 'Barbacoa'
    """)

    mydb.commit()

    print("Update and insertion completed successfully.")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:

    if mydb.is_connected():
        cursor.close()
        mydb.close()

Update and insertion completed successfully.

In [21]:
# Confirm change: first ingredient of Barbacoa should now be Tamarind

try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    cursor.execute("""
        SELECT * FROM MENU LIMIT 1
    """)
    results = cursor.fetchall()
    for row in results:
        print(row)

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

('Barbacoa', 'Tamarind', 'Lime', 'Ramen', 'Bell Peppers', 'Sesame Seeds')

## 5 pts: Did the writeup/video show SQL statements for queries?

In [22]:
# Confirm change: first ingredient of Barbacoa should now be Tamarind

try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    cursor.execute("""
        SELECT * FROM INGREDIENT LIMIT 15
    """)
    results = cursor.fetchall()
    print('Ingredient  Table')
    for row in results:
        print(row)

    cursor.execute("""
        SELECT * FROM MENU LIMIT 15
    """)
    results = cursor.fetchall()
    print('\nMenu Table')
    for row in results:
        print(row)

    cursor.execute("""
        SELECT * FROM ORDERs LIMIT 15
    """)
    print('\nOrder Table')
    results = cursor.fetchall()
    for row in results:
        print(row)

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

Ingredient  Table
('Avocado', 7, 519)
('Beans', 16, 37)
('Beef', 14, 116)
('Bell Peppers', 8, 218)
('Bok Choy', 4, 674)
('Cabbage', 15, 296)
('Cayenne Pepper', 5, 810)
('Chicken', 7, 248)
('Chili Powder', 9, 950)
('Chilies', 10, 211)
('Cilantro', 3, 70)
('Coconut Milk', 17, 814)
('Coriander', 5, 899)
('Cumin', 5, 865)
('Eggplant', 3, 960)

Menu Table
('Barbacoa', 'Tamarind', 'Lime', 'Ramen', 'Bell Peppers', 'Sesame Seeds')
('Burritos', 'Szechuan Peppercorns', 'Rice', 'Salsa', 'Tortillas', 'Cabbage')
('Carne Asada', 'Sambal Oelek', 'Chili Powder', 'Shrimp', 'Cayenne Pepper', 'Wasabi')
('Carnitas', 'Sour Cream', 'Chilies', 'Bok Choy', 'Wasabi', 'Cabbage')
('Ceviche', 'Chili Powder', 'Avocado', 'Cumin', 'Bell Peppers', 'Szechuan Peppercorns')
('Chilaquiles', 'Sambal Oelek', 'Noodles', 'Szechuan Peppercorns', 'Bok Choy', 'Scallions')
('Chile Rellenos', 'Beans', 'Coconut Milk', 'Thai Basil', 'Salsa', 'Sambal Oelek')
('Chiles en Nogada', 'Tortillas', 'Kimchi', 'Fish Sauce', 'Salsa', 'Cilantro')
('Chili con Carne', 'Cilantro', 'Thai Basil', 'Onions', 'Sesame Oil', 'Chilies')
('Chimichangas', 'Shrimp', 'Wasabi', 'Eggplant', 'Hoisin Sauce', 'Coriander')
('Churros', 'Lemongrass', 'Tomatoes', 'Thai Basil', 'Tofu', 'Wasabi')
('Elote', 'Onions', 'Ramen', 'Tomatoes', 'Coriander', 'Avocado')
('Empanadas', 'Sambal Oelek', 'Mushrooms', 'Kimchi', 'Soy Sauce', 'Lemongrass')
('Enchiladas', 'Wasabi', 'Pineapple', 'Fish Sauce', 'Thai Basil', 'Hoisin Sauce')
('Fajitas', 'Garlic', 'Kimchi', 'Cumin', 'Jalapenos', 'Sambal Oelek')

Order Table
('Chili con Carne', 'Tomatoes')
('Chilaquiles', 'Pineapple')
('Flautas', 'Pineapple')
('Empanadas', 'Bok Choy')
('Chiles en Nogada', 'Coriander')
('Refried Beans', 'Kimchi')
('Carne Asada', 'Cumin')
('Fajitas', 'Avocado')
('Refried Beans', 'Hoisin Sauce')
('Tacos', 'Tortillas')
('Enchiladas', 'Sesame Oil')
('Pico de Gallo', 'Avocado')
('Ceviche', 'Cilantro')
('Ceviche', 'Cumin')
('Taquitos', 'Hoisin Sauce')

## 5 pts: Do the tables include Indexes ? 
          (Primary key counts as index if they are data and not just row counters)

Yes, below is the code to create the ingredient_index and menu_index on the names of the ingredient and names of the menu item, which are the primary keys of those tables.

In [23]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    # Ingredient name index
    cursor.execute("""
        CREATE INDEX ingredient_index ON INGREDIENT(Name)
    """)

    # Menu Item Name index
    cursor.execute("""
        CREATE INDEX menu_index ON MENU(Name)
    """)

    mydb.commit()
    
except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    # Close the cursor and database connection
    if mydb.is_connected():
        cursor.close()
        mydb.close()

## 10 pts: Did the writeup/video show the code and execution of the trigger(s)?

In [24]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    cursor.execute("""
        INSERT INTO ORDERS VALUES ('Barbacoa', 'Tamarind')
    """)
    results = cursor.fetchall()
    for row in results:
        print(row)

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    # Close the cursor and database connection
    if mydb.is_connected():
        cursor.close()
        mydb.close()

Error: 1644 (45000): This ingredient is already in the menu item

In [25]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    cursor.execute("""
        SELECT * FROM INGREDIENT 
        WHERE NAME = 'Tamarind'
    """)
    results = cursor.fetchall()
    for row in results:
        print(row)

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

('Tamarind', 7, 674)

In [26]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    cursor.execute("""
        UPDATE INGREDIENT
        SET Quantity = 0
        WHERE NAME = 'Tamarind'
    """)

    mydb.commit()

    print("Update and insertion completed successfully.")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

Update and insertion completed successfully.

In [27]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    cursor.execute("""
        SELECT * FROM INGREDIENT
        WHERE NAME = 'Tamarind'
    """)
    results = cursor.fetchall()
    for row in results:
        print(row)

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

('Tamarind', 7, 0)

In [28]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    cursor.execute("""
        INSERT INTO ORDERS VALUES ('Barbacoa', 'Coconut Milk')
    """)
    results = cursor.fetchall()
    for row in results:
        print(row)

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

Error: 1644 (45000): Ingredient quantity is not available for the menu item.

## 5 pts: Did the writeup/video show the Join between at least 3 tables?

In [29]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    query = """
    SELECT
        M.Name AS MenuItem,
        M.Ingredient1 AS Ingredient1,
        I1.Quantity AS Quantity1,
        M.Ingredient2 AS Ingredient2,
        I2.Quantity AS Quantity2,
        M.Ingredient3 AS Ingredient3,
        I3.Quantity AS Quantity3,
        M.Ingredient4 AS Ingredient4,
        I4.Quantity AS Quantity4,
        M.Ingredient5 AS Ingredient5,
        I5.Quantity AS Quantity5,
        O.AdditionalIngredient AS AdditionalIngredient,
        I6.Quantity AS AdditionalQuantity
    FROM Menu M
    LEFT JOIN Ingredient I1 ON M.Ingredient1 = I1.Name
    LEFT JOIN Ingredient I2 ON M.Ingredient2 = I2.Name
    LEFT JOIN Ingredient I3 ON M.Ingredient3 = I3.Name
    LEFT JOIN Ingredient I4 ON M.Ingredient4 = I4.Name
    LEFT JOIN Ingredient I5 ON M.Ingredient5 = I5.Name
    LEFT JOIN Orders O ON M.Name = O.MenuItem
    LEFT JOIN Ingredient I6 ON O.AdditionalIngredient = I6.Name
    LIMIT 5
    """

    cursor.execute(query)
    
    results = cursor.fetchall()
    
    for row in results:
        print("MenuItem:", row[0])
        print("Ingredient1:", row[1], "Quantity1:", row[2])
        print("Ingredient2:", row[3], "Quantity2:", row[4])
        print("Ingredient3:", row[5], "Quantity3:", row[6])
        print("Ingredient4:", row[7], "Quantity4:", row[8])
        print("Ingredient5:", row[9], "Quantity5:", row[10])
        print("AdditionalIngredient:", row[11], "AdditionalQuantity:", row[12])
        print("\n")

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

MenuItem: Barbacoa
Ingredient1: Tamarind Quantity1: 0
Ingredient2: Lime Quantity2: 149
Ingredient3: Ramen Quantity3: 733
Ingredient4: Bell Peppers Quantity4: 218
Ingredient5: Sesame Seeds Quantity5: 946
AdditionalIngredient: Sesame Oil AdditionalQuantity: 95


MenuItem: Barbacoa
Ingredient1: Tamarind Quantity1: 0
Ingredient2: Lime Quantity2: 149
Ingredient3: Ramen Quantity3: 733
Ingredient4: Bell Peppers Quantity4: 218
Ingredient5: Sesame Seeds Quantity5: 946
AdditionalIngredient: Jalapenos AdditionalQuantity: 247


MenuItem: Barbacoa
Ingredient1: Tamarind Quantity1: 0
Ingredient2: Lime Quantity2: 149
Ingredient3: Ramen Quantity3: 733
Ingredient4: Bell Peppers Quantity4: 218
Ingredient5: Sesame Seeds Quantity5: 946
AdditionalIngredient: Cayenne Pepper AdditionalQuantity: 810


MenuItem: Burritos
Ingredient1: Szechuan Peppercorns Quantity1: 203
Ingredient2: Rice Quantity2: 956
Ingredient3: Salsa Quantity3: 120
Ingredient4: Tortillas Quantity4: 722
Ingredient5: Cabbage Quantity5: 296
AdditionalIngredient: Cabbage AdditionalQuantity: 296


MenuItem: Burritos
Ingredient1: Szechuan Peppercorns Quantity1: 203
Ingredient2: Rice Quantity2: 956
Ingredient3: Salsa Quantity3: 120
Ingredient4: Tortillas Quantity4: 722
Ingredient5: Cabbage Quantity5: 296
AdditionalIngredient: Cayenne Pepper AdditionalQuantity: 810

## 5 pts: Did the writeup/video show grouping of the data on the Join between at least 3 tables?

In [30]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    query = """
    SELECT
        M.Name AS MenuItem,
        GROUP_CONCAT(I1.Name) AS Ingredients,
        SUM(I1.Quantity) AS TotalQuantity,
        O.AdditionalIngredient AS AdditionalIngredient,
        I2.Quantity AS AdditionalQuantity
    FROM Menu M
    LEFT JOIN Ingredient I1 ON M.Ingredient1 = I1.Name
    LEFT JOIN Orders O ON M.Name = O.MenuItem
    LEFT JOIN Ingredient I2 ON O.AdditionalIngredient = I2.Name
    GROUP BY M.Name, O.AdditionalIngredient
    ORDER BY AdditionalQuantity DESC
    LIMIT 5
    """

    cursor.execute(query)
    
    results = cursor.fetchall()
    
    for row in results:
        print("MenuItem:", row[0])
        print("Ingredients:", row[1])
        print("TotalQuantity:", row[2])
        print("AdditionalIngredient:", row[3], "AdditionalQuantity:", row[4])
        print("\n")

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

MenuItem: Chile Rellenos
Ingredients: Beans
TotalQuantity: 37
AdditionalIngredient: Tofu AdditionalQuantity: 963


MenuItem: Churros
Ingredients: Lemongrass
TotalQuantity: 839
AdditionalIngredient: Tofu AdditionalQuantity: 963


MenuItem: Salsa
Ingredients: Fish Sauce
TotalQuantity: 513
AdditionalIngredient: Tofu AdditionalQuantity: 963


MenuItem: Guacamole
Ingredients: Beans
TotalQuantity: 37
AdditionalIngredient: Eggplant AdditionalQuantity: 960


MenuItem: Chimichangas
Ingredients: Shrimp
TotalQuantity: 295
AdditionalIngredient: Eggplant AdditionalQuantity: 960

## 5 pts: Did the writeup/video show aggregation on the Join between at least 3 tables?

In [31]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    query = """
    SELECT
        M.Name AS MenuItem,
        SUM(I1.Quantity) AS TotalIngredientQuantity,
        SUM(I2.Quantity) AS TotalAdditionalIngredientQuantity
    FROM Menu M
    LEFT JOIN Ingredient I1 ON M.Ingredient1 = I1.Name
    LEFT JOIN Orders O ON M.Name = O.MenuItem
    LEFT JOIN Ingredient I2 ON O.AdditionalIngredient = I2.Name
    GROUP BY M.Name
    ORDER BY TotalIngredientQuantity DESC
    LIMIT 5
    """

    cursor.execute(query)

    results = cursor.fetchall()

    for row in results:
        print("MenuItem:", row[0])
        print("TotalIngredientQuantity:", row[1])
        print("TotalAdditionalIngredientQuantity:", row[2])
        print("\n")

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

MenuItem: Churros
TotalIngredientQuantity: 10907
TotalAdditionalIngredientQuantity: 5904


MenuItem: Pico de Gallo
TotalIngredientQuantity: 7568
TotalAdditionalIngredientQuantity: 2844


MenuItem: Carne Asada
TotalIngredientQuantity: 6400
TotalAdditionalIngredientQuantity: 2578


MenuItem: Fajitas
TotalIngredientQuantity: 5768
TotalAdditionalIngredientQuantity: 3962


MenuItem: Ceviche
TotalIngredientQuantity: 5700
TotalAdditionalIngredientQuantity: 2351

## 5 pts: Did the writeup/video show the deletion of items that have foreign keys?

In [32]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    query = """
    SELECT * FROM MENU
    WHERE Ingredient1 = 'Tamarind'
    """
    
    cursor.execute(query)

    results = cursor.fetchall()

    for row in results:
        print(row)

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

('Barbacoa', 'Tamarind', 'Lime', 'Ramen', 'Bell Peppers', 'Sesame Seeds')

In [33]:
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    query = """
    DELETE FROM INGREDIENT WHERE NAME = 'Tamarind'
    """

    cursor.execute(query)
    
    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

In [34]:
# Confirm any menu item that has Tamardind is deleted
try:
    mydb = mysql.connector.connect(host="localhost", user="root", passwd=password, use_pure=True)
    cursor = mydb.cursor()

    cursor.execute(f"USE {database_name}")

    query = """
    SELECT * FROM MENU
    WHERE Ingredient1 = 'Tamarind'
    """

    cursor.execute(query)
    
    results = cursor.fetchall()

    for row in results:
        print(row)

    mydb.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:

    if mydb.is_connected():
        cursor.close()
        mydb.close()

## Conclusion

This is the end of my project. The queries herein allow a restaurant owner to make informed decisions about the most popular ingredients based on orders and menu item ingredients so they can make informed decisions about how they should manage their inventory to keep stock available to make food for customers.